body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: darkgray;
}

nav {
    position: absolute;
    z-index: 15;
    width: 100%;
    overflow: hidden;
    background-color: #333;

}

button {

    float: left;
    color: darkgray;
    text-align: center;
    padding: 18px;
    background-color: #333;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 17px;

}

button:hover {
    color: black;
    background-color: lightgray;
}

.active {
    color: lightgray;
    background-color: darkgreen;
}


.drawer {
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.drawer:hover {
    background-color: #777;
}

.drawerContent {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #777;
}

.drawerButton {
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.drawerButton:hover {
    background-color: #999;
}

main {
    width: 100%;
    height: 100%;
    padding: 3px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-flex;
}

#shoppingCart {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
    z-index: 5;
}


